#  PYTHON OPERATOR

## Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [1]:
!conda install lxml -y

Retrieving notices: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 23.10.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.10.0

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Nofil khan\anaconda3

  added / updated specs:
    - lxml


The following packages will be UPDATED:

  openssl                                 3.0.10-h2bbff1b_2 --> 3.0.12-h2bbff1b_0



Downloading and Extracting Packages


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [2]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\nofil khan\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nofil khan\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nofil khan\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\nofil khan\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\nofil khan\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\nofil khan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')

In [4]:
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [8]:
a : int = 4
b : int = 7
print(a+b)
print(a-b)
print(a*b)
print(a/b)

print(11 % 10)
print(a**b)

11
-3
28
0.5714285714285714
1
16384

## assignment Operators

In [9]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [10]:
a = 5
print(a)

5

In [18]:
b = 3
b += 4
print(b)

7

In [19]:
b = 3
b -= 4
print(b)

-1

In [20]:
b = 3
b *= 4
print(b)

12

In [21]:
b = 3
b /= 4
print(b)

0.75

## python comparision operators

In [22]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [23]:
2==2

True

In [24]:
2 != 2

False

In [25]:
5 > 2

True

In [26]:
5 < 2

False

In [27]:
10 >= 10

True

In [28]:
10 > 10

False

In [29]:
9<=10

True

## Logical operators

In [30]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [31]:
print(True and True )
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [32]:
print(True or True )
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [33]:
not True

False

In [34]:
not False

True

## identity operators

In [35]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [36]:
x : str = "abc"
y : str = "abc"
print(id(x))
print(id(y))
x is y

140712735884368
140712735884368

True

In [37]:
x : str = "abc"
y : str = "abc"
print(id(x))
print(id(y))
x is not y

140712735884368
140712735884368

False

## membership operators

In [38]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [43]:
name : list[str] = [chr(i) for i in range(65,91)]
"D" not in name

False

# PEMDAS

* PEMDAS stands for Parentheses, Exponents, Multiplication and Division (same level), and Addition and Subtraction (same level)
* left to right

In [44]:
a ,b ,c = 1,2,3
print(b)

2