# LOOP

* in

In [8]:
names : list[str] = ['Nofil','imran','abdullah']

for a in names:
    print(a)

Nofil
imran
abdullah

names : list[str] = ['Nofil','imran','abdullah']

for (i==0 ; i<nmaes.length ; i++){
    names[i]
 

}

In [13]:
names : list[str] = ['Nofil','imran','abdullah']
i: int =0

while i<len(names):
    print(names[i])
    i+=1

Nofil
imran
abdullah

In [16]:
names : list[str] = ['Nofil','imran','abdullah']

for names in names:
    print(f'welcone to nofils coding corner {names.title()}')

welcone to nofils coding corner Nofil
welcone to nofils coding corner Imran
welcone to nofils coding corner Abdullah

In [18]:
names : list[str] = ['Nofil','imran','abdullah']

for names in names:
    print(f'welcone to nofils coding corner {names.title()}')
    print("inside the loop")


print("outside the loop")

welcone to nofils coding corner Nofil
inside the loop
welcone to nofils coding corner Imran
inside the loop
welcone to nofils coding corner Abdullah
inside the loop
outside the loop

In [19]:
names : list[str] = ['Nofil','imran','abdullah']

for names in names[1: : ]:
    print(f'welcone to nofils coding corner {names.title()}')
    print("inside the loop")

welcone to nofils coding corner Imran
inside the loop
welcone to nofils coding corner Abdullah
inside the loop

In [20]:
names : list[str] = ['Nofil','imran','abdullah']

for names in names[0]:
    print(f'welcone to nofils coding corner {names.title()}')
    print("inside the loop")

welcone to nofils coding corner N
inside the loop
welcone to nofils coding corner O
inside the loop
welcone to nofils coding corner F
inside the loop
welcone to nofils coding corner I
inside the loop
welcone to nofils coding corner L
inside the loop

In [23]:
data_base : list[tuple[str,str]] = [
                                        ("nofil" , 'male'),
                                        ('hina', 'female'),
                                        ('imran',  'male')
                                    ]

for row in data_base:
    print(row)

('nofil', 'male')
('hina', 'female')
('imran', 'male')

In [25]:
names : list[str] = ['Nofil','imran','abdullah']

for names in names:
    print(names)
    break
print("end")

Nofil
end

In [26]:
names : list[str] = ['Nofil','imran','abdullah']

list(enumerate(names))

[(0, 'Nofil'), (1, 'imran'), (2, 'abdullah')]

# number with loop

In [27]:
range(0,10)

range(0, 10)

In [28]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [30]:
for n in range(0,10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [31]:
for n in range(1,11):
    print(f'2 * {n} = {2*n}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [32]:
squares :list[int] = []
for value in range(1,11):
    square= value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
for square in range(1,11):
    print(square**2)

1
4
9
16
25
36
49
64
81
100

In [37]:
[square**2 for square in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]